<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Automata Project</title>
</head>
<body>
    <div class="min-h-screen bg-gradient-to-br from-gray-900 to-black flex flex-col text-white">
        <nav id="navbar" class="flex-no-wrap fixed w-full items-center py-5 px-12 flex flex-row justify-between m-0 bg-transparent top-0 z-30 font-bold">
            <div>
              <p>AUTOMATA PROJECT</p>
            </div>
            <div class="flex flex-row gap-8">
              <a href="/task1">TASK 1</a>
              <a href="/task2">TASK 2</a>
              <a href="/task3">TASK 3</a>
              <a href="/task4">TASK 4</a>
              <a href="/task5">TASK 5</a>
            </div>
          </nav>
          <section id="home" class="flex flex-col min-h-screen justify-center">
            <main class="flex flex-col gap-6 justify-center items-center text-center h-100%">
              <h1 class="text-7xl font-bold">AUTOMATA PROJECT</h1>
              <p class="text-xl text-gray-400">Automata project to solve cases related to DFA, NFA, ε-NFA, and Regex</p>
              <a href="/task1" class="bg-green-700 active:ring-2 active:ring-green-400 text-gray-200 py-2 px-4 rounded-md text-md font-bold">STARTED</a>
            </main>
          </section>
    </div>
</body>
</html>
